body {
  font-family: georgia;
  text-align:center;
}

h1 {
  font-size: 100px;
}

.momo-signature-regular {
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}

.bio {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}